# Loose Silky Bent

In [29]:
!wget https://raw.githubusercontent.com/svinkapeppa/Sirius_2018/master/Seminars/csv/Loose_Silky-bent.csv

--2018-07-21 22:09:03--  https://raw.githubusercontent.com/svinkapeppa/Sirius_2018/master/Seminars/csv/Loose_Silky-bent.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7182530 (6.8M) [text/plain]
Saving to: ‘Loose_Silky-bent.csv’

Loose_Silky-bent.cs 100%[===================>]   6.85M  39.5MB/s    in 0.2s

2018-07-21 22:09:03 (39.5 MB/s) - ‘Loose_Silky-bent.csv’ saved [7182530/7182530]

In [0]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

from keras.models import Sequential
from keras.layers import Dense, Conv2D, MaxPool2D, Flatten, Dropout
from keras.optimizers import Adam
from keras.utils import to_categorical

## Data Preprocessing

In [0]:
df = pd.read_csv('Loose_Silky-bent.csv', sep=';', index_col=0)

In [32]:
df.head()

,p0,p1,p2,p3,p4,p5,p6,p7,p8,p9,...,p3063,p3064,p3065,p3066,p3067,p3068,p3069,p3070,p3071,class
0,183,182,182,180,182,181,175,176,175,179,...,85,71,52,84,67,48,74,58,38,1
1,98,87,75,93,85,70,73,56,45,67,...,87,66,51,91,70,51,108,85,50,1
2,98,87,76,94,83,68,91,76,63,92,...,100,84,62,101,81,52,100,77,46,1
3,92,71,52,97,72,56,96,69,50,94,...,92,68,46,95,74,49,90,65,43,1
4,83,67,56,65,46,33,61,41,26,66,...,96,79,63,94,76,60,90,72,58,1

In [33]:
df.tail()

,p0,p1,p2,p3,p4,p5,p6,p7,p8,p9,...,p3063,p3064,p3065,p3066,p3067,p3068,p3069,p3070,p3071,class
738,89,74,57,101,88,70,94,79,66,83,...,86,57,34,75,54,37,63,38,27,3
739,62,48,38,64,46,36,63,46,36,55,...,72,61,45,81,69,53,84,73,58,3
740,86,66,42,84,66,47,97,71,44,90,...,57,51,51,58,51,53,57,50,52,3
741,111,92,72,103,83,62,106,78,48,96,...,57,40,31,75,59,43,83,64,47,3
742,79,62,45,83,65,50,82,61,46,76,...,85,77,69,85,79,66,80,63,51,3

---

In [0]:
x = df.drop('class', axis=1)
y = df['class']

In [0]:
x = np.array(x).reshape(-1, 32, 32, 3)
y -= 1
y = to_categorical(y)

---

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y,
                                                    random_state=42,
                                                    test_size=0.2)

## Net Architecture

In [0]:
model = Sequential()

model.add(Conv2D(64, 3, padding='same', activation='relu', input_shape=(32, 32, 3)))
model.add(Conv2D(64, 3, padding='same', activation='relu'))
model.add(MaxPool2D(strides=2))

model.add(Conv2D(128, 3, padding='same', activation='relu'))
model.add(Conv2D(128, 3, padding='same', activation='relu'))
model.add(MaxPool2D(strides=2))

model.add(Conv2D(256, 3, padding='same', activation='relu'))
model.add(Conv2D(256, 3, padding='same', activation='relu'))
model.add(MaxPool2D(strides=4))

model.add(Flatten())

model.add(Dense(2048, activation='relu'))
model.add(Dense(1024, activation='relu'))
model.add(Dropout(rate=0.4))
model.add(Dense(3, activation='softmax'))

In [0]:
model.compile('sgd', 'categorical_crossentropy', ['accuracy'])

In [63]:
model.fit(x_train, y_train, validation_data=(x_test, y_test), batch_size=32, epochs=21)

Train on 594 samples, validate on 149 samples
Epoch 1/21
594/594 [==============================] - 2s 4ms/step - loss: 2.4731 - acc: 0.3704 - val_loss: 1.0714 - val_acc: 0.4094
Epoch 2/21
594/594 [==============================] - 1s 1ms/step - loss: 1.0896 - acc: 0.3822 - val_loss: 1.0537 - val_acc: 0.4094
Epoch 3/21
594/594 [==============================] - 1s 983us/step - loss: 1.0844 - acc: 0.3956 - val_loss: 1.0640 - val_acc: 0.3960
Epoch 4/21
594/594 [==============================] - 1s 974us/step - loss: 1.0862 - acc: 0.3552 - val_loss: 1.0675 - val_acc: 0.3960
Epoch 5/21
594/594 [==============================] - 1s 981us/step - loss: 1.0779 - acc: 0.3923 - val_loss: 1.0577 - val_acc: 0.4161
Epoch 6/21
594/594 [==============================] - 1s 968us/step - loss: 1.0704 - acc: 0.3973 - val_loss: 1.0725 - val_acc: 0.4094
Epoch 7/21
594/594 [==============================] - 1s 970us/step - loss: 1.0764 - acc: 0.3906 - val_loss: 1.0586 - val_acc: 0.4228
Epoch 8/21
594/594 [==============================] - 1s 973us/step - loss: 1.0600 - acc: 0.4091 - val_loss: 1.0575 - val_acc: 0.3893
Epoch 9/21
594/594 [==============================] - 1s 966us/step - loss: 1.0642 - acc: 0.4293 - val_loss: 1.0583 - val_acc: 0.4295
Epoch 10/21
594/594 [==============================] - 1s 983us/step - loss: 1.0639 - acc: 0.4242 - val_loss: 1.0555 - val_acc: 0.4161
Epoch 11/21
594/594 [==============================] - 1s 979us/step - loss: 1.0552 - acc: 0.4394 - val_loss: 1.0917 - val_acc: 0.3960
Epoch 12/21
352/594 [================>.............] - ETA: 0s - loss: 1.0618 - acc: 0.4091

594/594 [==============================] - 1s 988us/step - loss: 1.0522 - acc: 0.4209 - val_loss: 1.0537 - val_acc: 0.4228
Epoch 13/21
594/594 [==============================] - 1s 984us/step - loss: 1.0499 - acc: 0.4276 - val_loss: 1.0505 - val_acc: 0.4430
Epoch 14/21
594/594 [==============================] - 1s 983us/step - loss: 1.0504 - acc: 0.4512 - val_loss: 1.0880 - val_acc: 0.4094
Epoch 15/21
594/594 [==============================] - 1s 971us/step - loss: 1.0298 - acc: 0.4512 - val_loss: 1.0692 - val_acc: 0.4027
Epoch 16/21
594/594 [==============================] - 1s 977us/step - loss: 1.0301 - acc: 0.4377 - val_loss: 1.0509 - val_acc: 0.4094
Epoch 17/21
594/594 [==============================] - 1s 973us/step - loss: 1.0253 - acc: 0.4646 - val_loss: 1.0609 - val_acc: 0.3960
Epoch 18/21
594/594 [==============================] - 1s 971us/step - loss: 1.0116 - acc: 0.4848 - val_loss: 1.0667 - val_acc: 0.4295
Epoch 19/21
594/594 [==============================] - 1s 972us/step - loss: 1.0184 - acc: 0.4714 - val_loss: 1.0434 - val_acc: 0.3893
Epoch 20/21
594/594 [==============================] - 1s 979us/step - loss: 1.0092 - acc: 0.4966 - val_loss: 1.1049 - val_acc: 0.3960
Epoch 21/21
594/594 [==============================] - 1s 966us/step - loss: 0.9904 - acc: 0.4865 - val_loss: 1.0493 - val_acc: 0.4631