In [1]:
import pandas as pd

from random import sample

In [2]:
df = pd.read_csv('fashion-mnist_test.csv')

In [3]:
df.shape

(10000, 785)

In [4]:
df.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,9,8,...,103,87,56,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,14,53,99,...,0,0,0,0,63,53,31,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,137,126,140,0,133,224,222,56,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
selected = sample(range(df.shape[0]), 2000)

In [6]:
test_indicies = sorted(selected)
train_indicies = sorted(list(set(range(df.shape[0])) - set(test_indicies)))

In [7]:
train = df.iloc[train_indicies]
test = df.iloc[test_indicies]

In [8]:
train.to_csv('train.csv', index=False)

In [14]:
test_data = test.loc[:, df.columns != 'label']
test_target = pd.DataFrame(list(test.label), columns=['label'])

In [17]:
test_data.to_csv('test.csv', index=False)
test_target.to_csv('answers.csv', header=True, index_label='Id')